$base-font-size: 20px;

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: PlayfairDisplay,italic sans-serif;
  line-height: 1.5;
  background-color: darkcyan;

  @include ph {
    color: #fff;
    background-color: #000
  }
}

@import 'block/*.scss';
