*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: rgb(0, 90, 139);
  color: rgba(43, 223, 226, 0.894);
}

.container {
  min-width: 346px;
  padding: 0 30px;
  margin: 50px auto;
}

table {
  margin: 100px auto;
}

table, th, td {
  border: 2px solid black;
}

th, td {
  padding: 16px;
}