extends layout/app

block page
  include chunk/header

  h1.title home page 

  img(src='image/bridge.jpg', alt='bridge on river', width='400')

  ul.news
    each item in news 
      li= item.name

  include chunk/footer